.pantalla{
    width: 100%;
    height: 100vh;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

body {
    font-family: sans-serif;
    background: #ffffff;
    padding: 20px;

  }

  .device {
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px auto;
    background: rgb(255, 255, 255);
    max-width: 100%;
    overflow: hidden;
  }

  .header {
    background: blue;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
  }

  .box {
    background: yellow;
    flex: 1 1 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Tabletas (768px) */
  @media (min-width: 768px) {
    .box {
      flex: 1 1 calc(50% - 10px);
      background-color: yellow;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  /* Laptops (992px) */
  @media (min-width: 992px) {
    .box {
      flex: 1 1 calc(33.333% - 10px);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  /* Full HD (1200px en adelante) */
  @media (min-width: 1200px) {
    .box {
      flex: 1 1 calc(25% - 10px);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }